*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  padding: 10px;
  border: 1px solid rgb(223, 223, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* .filtro{
  max-width: 500px;
  padding: 30px;
  margin: 0 auto;
} */


.swiper {
    max-width: 500px;
    height: 40px;
    padding: 20px;
    position: relative;
    margin-top: 10px;
    
    
}

.swiper-wrapper{
  align-items: center !important;
  padding: 0px 40px;
  max-width: max-content;
  margin: 0 auto;
  
}

button.swiper-slide{
  background: #f5f5f5;
  border-radius: 10px;
  width: 95px !important;
  height: 30px !important;
  cursor: pointer;
  border:none;

}

button.swiper-slide:hover{
  background: #d4d0ff;
}


.swiper-button-next:after, .swiper-button-prev:after {
  background: #25222245;
  padding: 10px 14px;
  border-radius: 360px;
  color: black;
  font-size: 16px !important;
  font-weight: bold;
}


.swal2-confirm{
  background-color: #00b11f;
  width: 246px;
  border:none;
}


.swiper-button-prev.swiper-button-disabled{
  display: none !important; 
}


.swiper-button-next.swiper-button-disabled{
  display: none !important; 
}



.galeria{
 
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria img{
  max-width: 250px;

}


#img-modal{
  max-width: 400px;
}
