*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

main{
  background: #7066E0;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  background-image: url('./imgs/wave1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filtro{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  gap: 10px;
  margin: 0 auto;
  padding: 2px;
  position: relative;
}



.btn-filtro{
  background: none;
  cursor: pointer;
  border:none;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
 
  padding: 10px 10px 0px;
}

@media screen and (max-width:425px) {
  .btn-filtro{
    font-size: 16px;
  }
  
}

@media screen and (max-width:424px) {
  .filtro{
    flex-wrap: wrap;
  }
  
}


.btn-filtro:after{
  content: '';
  width: 0%;
  height: 3px;
  background: rgb(255, 255, 255);
  border: 8px;
  transition: 0.3s;

}

.btn-filtro:hover:after{
  transition: 0.3s;
  width: 100%;
}


.btn-filtro.active{
  font-weight: bold;
}

.btn-filtro.active:after{
  content: '';
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
  border: 8px;

}

#detalhe-left{
  border: 1px solid red;
  position: absolute;
  left: 0px;
  width: 100px;

}

#detalhe-right{
  position: absolute;
  right: 0px;
  width: 100px;
  top: 10px;
}


.galeria{
 
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;

  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  
  justify-items: center;
  padding: 0px 15px 40px;

}

.galeria img{
  max-width: 250px;
  cursor: pointer;

}

.galeria img:hover{
  box-shadow: rgba(103, 77, 138, 0.25) 0px 14px 28px, rgba(74, 56, 99, 0.22) 0px 10px 10px;
}


.cardImg{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardImg button{
    background: #08b239;
    border: none;
    height: 35px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}



#img-modal{
  max-width: 400px;
  width: 100%;
}

.swal2-confirm{
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  background: #18C06F !important;
  transition: 0.3 ease;
  width: 150px;
}

.swal2-confirm:hover{
  transition: 0.3 ease;
  background: #0cb664 !important;

}




